html
  meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
  script(src="/ueditor/ueditor.all.min.js")
  script(src="/ueditor/ueditor.config.js")
  script(src="/ueditor/lang/zh-cn/zh-cn.js")
  script(id="editor" type="text/plain" style="width:1024px;height:500px;")
  script.
    alert(UE)
    var ue = UE.getEditor('editor');


